body{
  background-color: darkgrey;

}

input {
  /* position: relative; */
  /* vertical-align: top; */
  max-width: 25%;
}

.table-caption{
  margin-top: 1px;
}

.table {
  display: block;
  margin: auto;
  padding: 1em;
}
